body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Sunflower', sans-serif;
}

div.title {
    font-family: 'Dotum' 'Sunflower';
    padding-left: 650px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #4ad93472;
    height: 100px;
}

div.pic {
    padding-top: 20px;
    padding-left: 0px;
}

div.txt {
    font-size: 25px;
    padding-left: 38px;
    padding-top: 10px;
    color: #ffffff;
}

div.smallTxt {
    padding-left: 38px;
    padding-top: 10px;
    font-size: 15px;
    color: #a3a3a3;
}